#weather-info{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    max-width: 300px;
}

.seach-box{
    margin-bottom: 10px;
    display: flex;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0f7fa;
}


#search-button{
    padding: 5px 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}